body{
    margin: 0;
    background-color: #eee;
    font-family: Lato, sans-serif;
}

nav{
    background-color: #2b2b2b;
    color: #00FFC8;
    padding: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 110;
}

#nav-flex{
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.log-button{
    text-decoration: none;
    color: #2b2b2b;
    background-color: #ddd;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    transition: background-color ease-in-out 200ms;
}

.log-button:hover{
    background-color: #00FFC8;
}

#search{
    height: 25px;
    font-size: 1em;
    border-bottom: 2px solid #00FFC8;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    color: #eee;
    padding-left: 5px;
}

#search::placeholder{
    color: #eee;
}

main{
    width: 100%;
}

main > section{
    width: 70%;
    margin: 20px auto 0 auto;
}

#page-title{
    font-size: 4em;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

::selection{
    background-color: #00FFC8;
    color: #eee;
}

.tile{
    height: 150px;
    margin-bottom: 20px;
    position: relative;
    background-color: #ddd;
    transition: background-color ease-in-out 100ms;
}

.tile:hover{
    background-color: #ccc;
    cursor: pointer;
}

.link-a{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.wrapper{
    display: flex;
    padding: 10px;
    top: 0;
    left: 0;
}

.logo{
    height: 130px;
    width: 130px !important;
    background-color: #eee;
    flex-shrink: 0;
}
.logo > img{
    width: 100%;
    height: 100%;
}

.wrap-content{
    margin-left: 10px;
    display: flex;
    width: 840px;
    justify-content: space-between;
}

.name{
    font-size: 2em;
}

.discipline{
    color: #888;
    font-size: 1.15em;
}

.players_num{
    color: #888;
    font-size: 1.15em;
    text-align: right;
}

.date{
    font-size: 1.1em;
    padding-top: 10px;
    text-align: right;
}

.date-red{
    /*color: #FF5A53;*/
    color: red;
}

.date-green{
    /*color: #0DF53F;  !*change green*!*/
    color: green;
}

.date-yellow{
    /*color: yellow;*/
    color: orange;
}

#nav-bar{
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /*background-color: #2b2b2b;*/
}

#nav-bar > div{
    background-color: #ddd;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: background-color 100ms ease-in-out;
}

#nav-bar > div:hover{
    background-color: #ccc;
    cursor: pointer;
}

.inactive{
    color: #999 !important;
}

.inactive > a, .active > a, .active-diff > a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: #2b2b2b;
}

.inactive:hover, .inactive > a:hover{
    cursor: default !important;
    background-color: #ddd !important;
}

.active{
    /*color: black;*/
    background-color: #bbb !important;
}

#login-container{
    background-color: #ddd;
    /*height: 100px;*/
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    padding-bottom: 40px;
}

form{
    margin-top: 30px;
}

form input, button[type=submit], form textarea, form select{
    width: 90%;
    height: 35px;
    font-size: 1.1em;
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    border: none;
    resize: none;
}

form input[type=email], form input[type=password], form input[type=text], form input[type=number], form input[type=date], textarea, form select{
    padding-left: 10px;
}

form label{
    margin-left: 15px;
}

form input[type=submit], button[type=submit]{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #2b2b2b;
    width: 50%;
    border: none;
    color: #dddddd;
    transition: background-color ease-in-out 200ms;
}

form > input[type=submit]:hover, button[type=submit]:hover, .verify-button:hover{
    background-color: #1a1a1a;
    cursor: pointer;
}

.verify-button{
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: center;
    background-color: #2b2b2b;
    border-radius: 5px;
    color: #ddd;
}

.links{
    text-decoration: none;
    color: #777;
    transition: color ease-in-out 200ms;
}

.links:hover{
    color: #555;
}

#header{
    background-color: #2b2b2b;
    color: #ddd;
    font-size: 1.7em;
    text-align: center;
    padding: 10px;

}

.link-div{
    margin-left: 10px;
    text-align: center;
}

#canv-turniej{
    /*height: 100%;*/
    /*width: 100%;*/
    background-color: #fff;
}

#canv-div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 500px;
    width: 500px;
}

.identifier{
    color: #eee;
    font-size: 20px;
    display: inline-block;
    transition: color 500ms ease;
    padding: 0 10px 10px 10px;
}

.identifier:hover{
    cursor: pointer;
    color: #ccc;
}

.flex-div-verification{
    display: flex;
    justify-content: center;
}

.verification{
    margin-top: 100px;
}

.identifier:hover ol{
    display: block;
}

ol{
    margin-top: 0;
    margin-left: -50px;
    display: none;
}

ol > li{
    list-style-type: none;
    background-color: #2b2b2b;

    font-size: 18px;
    border-bottom: #1a1a1a dashed 1px;
}

ol > li:hover{
    background-color: #1a1a1a;
}

ol > li a{
    text-decoration: none;
    color: #eee;
    display: block;
    height: 100%;
    width: 100%;
    padding: 20px 25px;
}

ol > li a:focus{
    outline: none;
}

.tournament_header{
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.tournament_header:hover{
    background-color: #ddd;
}

.header_link{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.header_link > button{
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
}

.header_link > button:hover{
    cursor: pointer;
}

.header_link:hover{
    /*background-color: #ddd;*/
    color: #2b2b2b;
    cursor: pointer;
}

.header_link > button:focus{
    outline: none !important;
}

.tournament_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b2b2b;
}

.tournament_name > div{
    z-index: 10;
}

.tournament_info{
    height: 400px;
    background-color: #ddd;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    transition: height 200ms ease;
}

.tournament_info > div{
    height: 100%;
    width: 100%;
}

.tournament_info > div:first-child{
    border-right: #aaa solid 2px;
}

#googleMap{
    width: 80%;
    height: 80%;
    border:0;
}

.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location > div:first-child{
    margin-bottom: 10px;
    font-size: 1.1em;
}

.join_button{
    width: 120px;
    background-color: #2b2b2b;
}

.join_button > a{
    text-decoration: none;
    color: #eee;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 0;
}

.t_desc{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.t_desc > div{
    margin-top: 10px;
}

.t_desc > div{
    padding-left: 50px;
}

.t_desc > div:last-child{
    padding-left: 0;
    margin-left: 50px;
}

.flex-tournament-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hidden_info{
    height: 0;
    padding: 0;
}

.sponsors{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.sponsors > div{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sponsors > div  img{
    height: 150px;
    width: 150px;
}

.sub-cat{
    font-size: 1.3em;
    text-align: center;
    margin-top: 30px;
}

#arrow-nav{
    display: none;
}

#search-glass{
    display: none;
}

#search-glass > button{
    background-color: transparent;
    border: none;
    color: #eee;
    font-size: 1.2em;
    transition: color 200ms ease-in-out;
}

#search-glass > button:hover{
    cursor: pointer;
    color: #ccc;
}

#sponsors_list{
    display: flex;
    flex-direction: column;
}

.del_button{
    width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    border: none;
    margin-bottom: 10px;
}

.del_button:hover{
    cursor: pointer;
    background-color: #ccc;
}

@media screen and (max-width: 600px){
    #arrow-nav{
        display: block;
    }
    #name-nav{
        display: none;
    }
    #search-glass{
        display: block;
    }
    #search-text{
        display: none;
    }
    .wrap-content{
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px){
    .logo{
        display: none;
    }
}
